<div class="container-fluid text-center bg-success p-4" style="--bs-bg-opacity: .5;">
  <h1>QouteApp</h1><hr/>
  <p class="mx-auto">{{topQoute.description}}</p>
</div>
<div class="container text-center bg-success p-2" style="--bs-bg-opacity: .5;">
  <div class="row">
    <div class="col-md-6">
      <h2>Qoutes</h2> <hr>
      <div>
        <p *ngFor='let qoute of qoutes;let i=index'>
          {{qoute.description}} <br>
          <button (click)='toggleDetails(i)'>Show details</button>
          <button>Upvote</button>
          <button>Downvote</button>
          <app-qoute-details *ngIf="qoute.showDescription" [quote]="qoute"></app-qoute-details>
        </p> 
      </div>
    </div>
  
    <div class="col-md-6">
      <app-qoute-form (addQoute)='addNewQoute($event)'></app-qoute-form>
    </div>
  </div>
</div>
