<h2>Adding a new Qoute</h2>
<form #qouteForm='ngForm' (ngSubmit)='submitQoute()'>
    <div class="form-group">

        <label for="author">Author</label> <br>
        <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel'>
        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author field is required</p>
        </div>
    </div>
    <div class="form-group">

        <label for="postBy">Post by</label> <br>
        <input type="text" required class="form-control" id="postBy" [(ngModel)]="newQuote.postBy" name="postBy" #postBy='ngModel'>
        <div [hidden]="postBy.valid || postBy.pristine" class="alert alert-danger">
            <p>Post by field is required</p>
        </div>
    </div>
    <div class="form-group">

        <label for="Qoute">Qoute</label><br>
        <textarea class="form-control" id="qoute" rows="4" required [(ngModel)]="newQuote.description" name="qoute" #qoute='ngModel'></textarea>
        <div [hidden]="qoute.valid || qoute.pristine" class="alert alert-danger">
            <p>Qoute field is required</p>
        </div>

    </div>
    <div class="form-group">
        <label for="complete">date posted</label><br>
        <input type='date' id="complete" required>

    </div>
    <button type="submit" class="btn btn-success">Add Qoute</button>
</form>